[Unit]
Description=Luna Linux wallpaper
Documentation=man:swaybg(1)
PartOf=graphical-session.target
After=graphical-session.target
# There is no point starting without a working Wayland session.
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/luna-wallpaper
Restart=on-failure
Slice=session.slice

[Install]
WantedBy=graphical-session.target
